@model IEnumerable<Domain.Entity.Event>
@Html.Partial("Partials/_Menu")


<div class="row">
    <hr />
    <h3 class="m_2">Next Events</h3>
    
</div>
 
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="events">
                <div class="event-top">
                    <ul class="event1">
                        <h4>Affiche</h4>
                        <img src="/File?id=3" alt="">
                    </ul>
                    <ul class="event1_text">
                         <h4>@item.Titre</h4>
                         <p>@item.Description</p>
                        <h4>Capacité</h4>
                        <span class="m_5">@item.Capacite</span>
                    </ul>
                    <div class="clear"></div>
               
                </div>
                <div class="event-bottom">
                    <ul class="event1">
                        <div><h4>du :  </h4><span class="m_5">@item.DateDebut</span></div>
                        <div><h4>à :   </h4><span class="m_5">@item.DateFin</span> </div>
                    </ul>
                    <ul class="event1_text">  
                        
                        <h4>Adresse</h4>
                        <p>@item.Adresse.FormattedAdress</p>                       
                            <div class="btn2">
                                <a  href="/Home/Reservation/@item.EventId">Reservation</a>
                            </div>                  
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    }

</div>
<div class="row">
    <div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
        <div class="facts">
            <ul class="tab-left">
                <table class="timetable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>MONDAY</th>
                            <th>TUESDAY</th>
                            <th>WEDNESDAY</th>
                            <th>THURSDAY</th>
                            <th>FRIDAY</th>
                            <th>SATURDAY</th>
                            <th>SUNDAY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row_1 row_gray">
                            <td>
                                05.00 - 06.00
                            </td>
                            <td class="event"><a href="#" title="Boxing">Boxing</a>05.00 - 06.00</td>
                            <td class="event"><a href="#" title="Boxing">Boxing</a>05.00 - 06.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row_2">
                            <td>
                                06.00 - 07.00
                            </td>
                            <td class="event"><a href="#" title="Gym Fitness">Gym Fitness</a>06.00 - 07.00</td>
                            <td class="event"><a href="#" title="Gym Fitness">Gym Fitness</a>06.00 - 07.00</td>
                            <td class="event" rowspan="3"><a href="#">Gym Fitness</a>06.00 - 08.30<br><br><a href="#" title="Cardio Fitness">Cardio Fitness</a>06.00 - 08.30</td>
                            <td class="event" rowspan="3"><a href="#" title="Gym Fitness">Gym Fitness</a>06.00 - 08.30<br><br><a href="#" title="Cardio Fitness">Cardio Fitness</a>06.00 - 08.30</td>
                            <td class="event" rowspan="3"><a href="#" title="Gym Fitness">Gym Fitness</a>06.00 - 08.30<br><br><a href="#" title="Cardio Fitness">Cardio Fitness</a>06.00 - 08.30</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row_3 row_gray">
                            <td>
                                07.00 - 08.00
                            </td>
                            <td class="event"><a href="#" title="Cardio Fitness">Cardio Fitness</a>07.00 - 08.00</td>
                            <td class="event"><a href="#" title="Cardio Fitness">Cardio Fitness</a>07.00 - 08.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row_4">
                            <td>
                                08.00 - 09.00
                            </td>
                            <td></td>
                            <td></td>
                            <td class="event" rowspan="2"><a href="#" title="Indoor Cycling">Indoor Cycling</a>08.00 - 09.30</td>
                            <td class="event" rowspan="2"><a href="#" title="Indoor Cycling">Indoor Cycling</a>08.00 - 09.30</td>
                        </tr>
                        <tr class="row_5 row_gray">
                            <td>
                                09.00 - 10.00
                            </td>
                            <td class="event" rowspan="3"><a href="#" title="Indoor Cycling">Indoor Cycling</a>09.00 - 11.25</td>
                            <td class="event" rowspan="3"><a href="#" title="Indoor Cycling">Indoor Cycling</a>09.00 - 11.25</td>
                            <td></td>
                            <td class="event"><a href="#" title="Indoor Cycling">Indoor Cycling</a>09.00 - 10.00</td>
                            <td class="event"><a href="#" title="Indoor Cycling">Indoor Cycling</a>09.00 - 10.00</td>
                        </tr>
                        <tr class="row_6">
                            <td>
                                10.00 - 11.00
                            </td>
                            <td></td>
                            <td class="event" rowspan="2"><a href="#" title="Cardio Fitness">Cardio Fitness</a>10.00 - 11.30</td>
                            <td class="event" rowspan="2"><a href="#" title="Cardio Fitness">Cardio Fitness</a>10.00 - 11.30</td>
                            <td class="event"><a href="#" title="Gym Fitness">Gym Fitness</a>10.00 - 11.00</td>
                            <td class="event"><a href="#" title="Gym Fitness">Gym Fitness</a>10.00 - 11.00</td>
                        </tr>
                        <tr class="row_7 row_gray">
                            <td>
                                11.00 - 12.00
                            </td>
                            <td></td>
                            <td class="event"><a href="#" title="Indoor Cycling">Indoor Cycling</a>11.00 - 12.00</td>
                            <td class="event"><a href="#" title="Indoor Cycling">Indoor Cycling</a>11.00 - 12.00</td>
                        </tr>
                        <tr class="row_8">
                            <td>
                                12.00 - 13.00
                            </td>
                            <td></td>
                            <td></td>
                            <td class="event"><a href="#" title="Gym Fitness">Gym Fitness</a>12.00 - 13.00</td>
                            <td class="event"><a href="#" title="Gym Fitness">Gym Fitness</a>12.00 - 13.00</td>
                            <td class="event" rowspan="4"><a href="#" title="Boxing">Boxing</a>12.00 - 15.45</td>
                            <td class="event" rowspan="4"><a href="#" title="Gym Fitness">Gym Fitness</a>12.00 - 13.00<br><br><a href="#" title="Boxing">Boxing</a>12.00 - 15.45<br><br><a href="#" title="Cardio Fitness">Cardio Fitness</a>14.00 - 16.00</td>
                            <td class="event"><a href="#" title="Gym Fitness">Gym Fitness</a>12.00 - 13.00</td>
                        </tr>
                        <tr class="row_9 row_gray">
                            <td>
                                13.00 - 14.00
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row_10">
                            <td>
                                14.00 - 15.00
                            </td>
                            <td class="event" rowspan="4"><a href="#" title="Gym Fitness">Gym Fitness</a>14.00 - 16.15<br><br><a href="#" title="Indoor Cycling">Indoor Cycling</a>16.00 - 17.30</td>
                            <td class="event" rowspan="4"><a href="#" title="Gym Fitness">Gym Fitness</a>14.00 - 16.15<br><br><a href="#" title="Indoor Cycling">Indoor Cycling</a>16.00 - 17.30</td>
                            <td></td>
                            <td></td>
                            <td class="event" rowspan="2"><a href="#" title="Cardio Fitness">Cardio Fitness</a>14.00 - 16.00</td>
                        </tr>
                        <tr class="row_11 row_gray">
                            <td>
                                15.00 - 16.00
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row_12">
                            <td>
                                16.00 - 17.00
                            </td>
                            <td></td>
                            <td class="event" rowspan="2"><a href="#" title="Indoor Cycling">Indoor Cycling</a>16.00 - 17.30</td>
                            <td class="event" rowspan="4"><a href="#" title="Indoor Cycling">Indoor Cycling</a>16.00 - 17.30<br><br><a href="#" title="Gym Fitness">Gym Fitness</a>17.30 - 20.00<br><br><a href="#" title="Boxing">Boxing</a>18.00 - 20.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row_13 row_gray">
                            <td>
                                17.00 - 18.00
                            </td>
                            <td></td>
                            <td class="event"><a href="#" title="Gym Fitness">Gym Fitness</a>17.00 - 18.00</td>
                            <td class="event"><a href="#" title="Gym Fitness">Gym Fitness</a>17.00 - 18.00</td>
                        </tr>
                        <tr class="row_14">
                            <td>
                                18.00 - 19.00
                            </td>
                            <td class="event" rowspan="2"><a href="#" title="Boxing">Boxing</a>18.00 - 19.00<br><br><a href="#" title="Yoga Pilates">Yoga Pilates</a>18.30 - 20.00</td>
                            <td class="event" rowspan="2"><a href="#" title="Boxing">Boxing</a>18.00 - 19.00<br><br><a href="#" title="Yoga Pilates">Yoga Pilates</a>18.30 - 20.00</td>
                            <td class="event" rowspan="2"><a href="#" title="Boxing">Boxing</a>18.00 - 20.00<br><br><a href="#" title="Yoga Pilates">Yoga Pilates</a>18.30 - 20.00</td>
                            <td class="event" rowspan="2"><a href="#" title="Boxing">Boxing</a>18.00 - 20.00<br><br><a href="#" title="Yoga Pilates">Yoga Pilates</a>18.30 - 20.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row_15 row_gray">
                            <td>
                                19.00 - 20.00
                            </td>
                            <td class="event" rowspan="2"><a href="#" title="Yoga Pilates">Yoga Pilates</a>19.00 - 20.30</td>
                            <td class="event" rowspan="2"><a href="#" title="Yoga Pilates">Yoga Pilates</a>19.00 - 20.30</td>
                        </tr>
                        <tr class="row_16">
                            <td>
                                20.00 - 21.00
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="timetable_small">
                    <ul class="items_list">
                        <h3>Monday</h3>
                        <li><p><a href="">Gym Fitness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cardio Fittness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Boxing</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga Pilates</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cycling</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                    </ul>
                    @*<ul class="items_list">
                        <h3>Tuesday</h3>
                        <li><p><a href="">Gym Fitness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cardio Fittness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Boxing</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga Pilates</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cycling</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                    </ul>
                    <ul class="items_list">
                        <h3>Wednesday</h3>
                        <li><p><a href="">Gym Fitness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cardio Fittness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Boxing</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga Pilates</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cycling</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                    </ul>
                    <ul class="items_list">
                        <h3>Thrusday</h3>
                        <li><p><a href="">Gym Fitness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cardio Fittness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Boxing</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga Pilates</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cycling</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                    </ul>
                    <ul class="items_list">
                        <h3>Friday</h3>
                        <li><p><a href="">Gym Fitness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cardio Fittness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Boxing</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga Pilates</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cycling</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                    </ul>
                    <ul class="items_list">
                        <h3>Saturday</h3>
                        <li><p><a href="">Gym Fitness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cardio Fittness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Boxing</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga Pilates</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cycling</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                    </ul>
                    <ul class="items_list">
                        <h3>Sunday</h3>
                        <li><p><a href="">Gym Fitness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cardio Fittness</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Boxing</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Yoga Pilates</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                        <li><p><a href="">Cycling</a></p><span class="m_31">10.00 - 20.00</span><div class="clear"></div></li>
                    </ul>*@
                </div>
            </ul>
        </div>
    </div>
</div>

   


 
