@model Domain.Entity.Event


@{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
 }
 




<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditEvent", new { id = Model.EventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
