<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Home/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='~/Content/family_Open_Sans.css' rel='stylesheet' type='text/css'>
    <link href='~/Content/family_Open_Sans_Condensed.css' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />-->
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
			    event.preventDefault();
			    console.log($('html,body'));
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
    </script>
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyAWw1AN8SwAvrUp-QOoprlMOWbOCBMn-5w	
"></script>
    <!-- grid-slider -->
  @Scripts.Render("~/bundles/Home")
    <script src="/Scripts/Home/WhatsNearby.js" type="text/javascript"></script>
    <script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
    </script>
</head>
<body>
   @if (ViewBag.success != null)
   {
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @ViewBag.success
    </div>
   }
@if (ViewBag.error != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> @ViewBag.error
    </div>
}




 
    
        @RenderBody()
     
    <!-----pop-up-grid---->
    <div id="small-dialog" class="mfp-hide">
        <div class="pop_up">
            <div>
                <div class="payment-online-form-left">
                    <form action="/Account/Register" method="post">
                        <h4 style="color:#00BFF0"><span class="shipping"> </span>Register</h4>
                        <ul>
                            <li><input class="text-box-dark" type="text" name="fname" value="Frist Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Frist Name';}"></li>
                            <li><input class="text-box-dark" type="text" name="lname" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"></li>
                        </ul>
                        <ul>
                            <li><input class="text-box-dark" type="text" name="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></li>
                            <li><input class="text-box-dark" type="text" name="company" value="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}"></li>
                        </ul>
                        <ul>
                            <li><input class="text-box-dark" type="password" name="pass" value="Password" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'Password'; }"></li>
                            <li><input class="text-box-dark" type="password" name="confpass" value="Confirm Password" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'Confirm Password'; }"></li>
                            
                        </ul>
                        <div class="clear"> </div>
                        <ul class="payment-sendbtns">
                            <li><input type="reset" value="Cancel"></li>
                            <li><input type="submit" value="Register"></li>
                        </ul>
                    </form>
                    <form action="/Account/Login" method="post">
                        <div class="clear"> </div>
                        <ul class="payment-type">
                            <h4 style="color:#00BFF0"><span class="payment"> </span> Login</h4>
                        </ul>
                        <ul>
                            <li><input class="text-box-dark" name="email" type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></li>
                            <li><input class="text-box-dark" name="pass"  type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"></li>
                            <div class="clear"> </div>
                        </ul>
                       
                        <ul class="payment-sendbtns">
                            <li><input type="reset" value="Cancel"></li>
                            <li><input type="submit" value="Login"></li>
                        </ul>
                        <div class="clear"> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-----pop-up-grid---->
 
    <script>
            $(".list-group-item").on("click", function () {
                console.log("active");
                $(".list-group-item .active").removeClass("active");
                $(this).addClass("active");
            });
            //$(".del-his-proj").on("click", function () {
            //    var url = $(this)[0].attributes["url"].nodeValue;

            //    $("#del-his-proj").load(url);
            //});
        </script>
</body>
</html>
