@model Web.Models.AdminViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
}
@if (ViewBag.success != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @ViewBag.success
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<hr />
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Films.Count()</div>
                        <div>Films!</div>
                    </div>
                </div>
            </div>
            <a href="/Admin#Film">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Events.Count()</div>
                        <div>Events!</div>
                    </div>
                </div>
            </div>
            <a href="/Admin#Event">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Participations.Count</div>
                        <div>Participation!</div>
                    </div>
                </div>
            </div>
            <a href="/Admin#Participation">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Projections.Count()</div>
                        <div>Projections!</div>
                    </div>
                </div>
            </div>
            <a href="/Admin#Projection">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row" id="Film">@Html.Partial("Film/List")</div>    
<hr />
<div class="row">@Html.Partial("Category/List")@Html.Partial("Acteur/List")</div>
<hr />
<div class="row">@Html.Partial("Projection/List")@Html.Partial("Salle/List")</div>
<hr />
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li>
                                <a href="#">Another action</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <svg height="347" version="1.1" width="650" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="50.5" y="313" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M63,313H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="241" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M63,241H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="169" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M63,169H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="97.00000000000003" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">22,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M63,97.00000000000003H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M63,25H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="521.2273302617589" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><text x="271.968052250519" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan></text><path fill="#7cb47c" stroke="none" d="M63,261.9952C78.69963546149562,256.7152,110.09890638448687,245.75689404303512,125.79854184598248,240.8752C141.50529087134828,235.9912940430351,172.9187889220799,229.61560628272252,188.6255379474457,222.93280000000001C204.1686750037973,216.31960628272253,235.25494911650043,189.66448883774453,250.798086172852,187.6912C266.163384132449,185.74048883774455,296.893980051643,205.80161428898558,312.25927801124,207.23680000000002C327.9589134727356,208.70321428898558,359.3581843957268,198.32102124575314,375.05781985722246,199.29760000000002C390.76456888258826,200.27462124575314,422.1780669333198,232.38668900523558,437.88481595868564,215.0512C453.42795301503725,197.8962890052356,484.51422712774036,69.70431494621197,500.05736418409197,61.33600000000001C515.5933876765733,52.97151494621197,546.6654346615361,135.84980951947165,562.2014581540175,148.12C577.9010936155131,160.51940951947165,609.3003645385044,157.04080000000002,625,160.01440000000002L625,313L63,313Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#4da74d" d="M63,261.9952C78.69963546149562,256.7152,110.09890638448687,245.75689404303512,125.79854184598248,240.8752C141.50529087134828,235.9912940430351,172.9187889220799,229.61560628272252,188.6255379474457,222.93280000000001C204.1686750037973,216.31960628272253,235.25494911650043,189.66448883774453,250.798086172852,187.6912C266.163384132449,185.74048883774455,296.893980051643,205.80161428898558,312.25927801124,207.23680000000002C327.9589134727356,208.70321428898558,359.3581843957268,198.32102124575314,375.05781985722246,199.29760000000002C390.76456888258826,200.27462124575314,422.1780669333198,232.38668900523558,437.88481595868564,215.0512C453.42795301503725,197.8962890052356,484.51422712774036,69.70431494621197,500.05736418409197,61.33600000000001C515.5933876765733,52.97151494621197,546.6654346615361,135.84980951947165,562.2014581540175,148.12C577.9010936155131,160.51940951947165,609.3003645385044,157.04080000000002,625,160.01440000000002" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="63" cy="261.9952" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="125.79854184598248" cy="240.8752" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="188.6255379474457" cy="222.93280000000001" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="250.798086172852" cy="187.6912" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="312.25927801124" cy="207.23680000000002" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="375.05781985722246" cy="199.29760000000002" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="437.88481595868564" cy="215.0512" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="500.05736418409197" cy="61.33600000000001" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="562.2014581540175" cy="148.12" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="625" cy="160.01440000000002" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#a7b3bc" stroke="none" d="M63,287.4064C78.69963546149562,281.632,110.09890638448687,269.3656543601359,125.79854184598248,264.3088C141.50529087134828,259.24965436013593,172.9187889220799,249.70720000000003,188.6255379474457,246.94240000000002C204.1686750037973,244.20640000000003,235.25494911650043,244.52992497123134,250.798086172852,242.30560000000003C266.163384132449,240.10672497123133,296.893980051643,232.33483379894665,312.25927801124,229.2496C327.9589134727356,226.09723379894663,359.3581843957268,217.2244296262741,375.05781985722246,217.35520000000002C390.76456888258826,217.4860296262741,422.1780669333198,243.65799371727746,437.88481595868564,230.296C453.42795301503725,217.07319371727746,484.51422712774036,118.85619409475855,500.05736418409197,111.01600000000002C515.5933876765733,103.17939409475855,546.6654346615361,159.3581391027101,562.2014581540175,167.58880000000002C577.9010936155131,175.9061391027101,609.3003645385044,174.8032,625,177.208L625,313L63,313Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#7a92a3" d="M63,287.4064C78.69963546149562,281.632,110.09890638448687,269.3656543601359,125.79854184598248,264.3088C141.50529087134828,259.24965436013593,172.9187889220799,249.70720000000003,188.6255379474457,246.94240000000002C204.1686750037973,244.20640000000003,235.25494911650043,244.52992497123134,250.798086172852,242.30560000000003C266.163384132449,240.10672497123133,296.893980051643,232.33483379894665,312.25927801124,229.2496C327.9589134727356,226.09723379894663,359.3581843957268,217.2244296262741,375.05781985722246,217.35520000000002C390.76456888258826,217.4860296262741,422.1780669333198,243.65799371727746,437.88481595868564,230.296C453.42795301503725,217.07319371727746,484.51422712774036,118.85619409475855,500.05736418409197,111.01600000000002C515.5933876765733,103.17939409475855,546.6654346615361,159.3581391027101,562.2014581540175,167.58880000000002C577.9010936155131,175.9061391027101,609.3003645385044,174.8032,625,177.208" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="63" cy="287.4064" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="125.79854184598248" cy="264.3088" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="188.6255379474457" cy="246.94240000000002" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="250.798086172852" cy="242.30560000000003" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="312.25927801124" cy="229.2496" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="375.05781985722246" cy="217.35520000000002" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="437.88481595868564" cy="230.296" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="500.05736418409197" cy="111.01600000000002" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="562.2014581540175" cy="167.58880000000002" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="625" cy="177.208" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#2577b5" stroke="none" d="M63,287.4064C78.69963546149562,287.1376,110.09890638448687,289.0257895356739,125.79854184598248,286.3312C141.50529087134828,283.6353895356739,172.9187889220799,267.03781361256546,188.6255379474457,265.8448C204.1686750037973,264.66421361256545,235.25494911650043,279.12750471806675,250.798086172852,276.8368C266.163384132449,274.57230471806673,296.893980051643,249.8830226700252,312.25927801124,247.62400000000002C327.9589134727356,245.31582267002523,359.3581843957268,256.1805408833522,375.05781985722246,258.568C390.76456888258826,260.9565408833522,422.1780669333198,278.0706764397906,437.88481595868564,266.728C453.42795301503725,255.50347643979057,484.51422712774036,175.34121144426643,500.05736418409197,168.2992C515.5933876765733,161.26041144426645,546.6654346615361,202.47734256433617,562.2014581540175,210.40480000000002C577.9010936155131,218.41574256433617,609.3003645385044,226.6408,625,232.0528L625,313L63,313Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#0b62a4" d="M63,287.4064C78.69963546149562,287.1376,110.09890638448687,289.0257895356739,125.79854184598248,286.3312C141.50529087134828,283.6353895356739,172.9187889220799,267.03781361256546,188.6255379474457,265.8448C204.1686750037973,264.66421361256545,235.25494911650043,279.12750471806675,250.798086172852,276.8368C266.163384132449,274.57230471806673,296.893980051643,249.8830226700252,312.25927801124,247.62400000000002C327.9589134727356,245.31582267002523,359.3581843957268,256.1805408833522,375.05781985722246,258.568C390.76456888258826,260.9565408833522,422.1780669333198,278.0706764397906,437.88481595868564,266.728C453.42795301503725,255.50347643979057,484.51422712774036,175.34121144426643,500.05736418409197,168.2992C515.5933876765733,161.26041144426645,546.6654346615361,202.47734256433617,562.2014581540175,210.40480000000002C577.9010936155131,218.41574256433617,609.3003645385044,226.6408,625,232.0528" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="63" cy="287.4064" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="125.79854184598248" cy="286.3312" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="188.6255379474457" cy="265.8448" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="250.798086172852" cy="276.8368" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="312.25927801124" cy="247.62400000000002" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="375.05781985722246" cy="258.568" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="437.88481595868564" cy="266.728" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="500.05736418409197" cy="168.2992" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="562.2014581540175" cy="210.40480000000002" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="625" cy="232.0528" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 193.798px; top: 168px; display: none;">
                        <div class="morris-hover-row-label">2010 Q4</div><div class="morris-hover-point" style="color: #0b62a4">
                            iPhone:
                            3,767
                        </div><div class="morris-hover-point" style="color: #7A92A3">
                            iPad:
                            3,597
                        </div><div class="morris-hover-point" style="color: #4da74d">
                            iPod Touch:
                            5,689
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
       
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Notifications Panel
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> New Comment
                        <span class="pull-right text-muted small">
                            <em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                        <span class="pull-right text-muted small">
                            <em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                        <span class="pull-right text-muted small">
                            <em>27 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-tasks fa-fw"></i> New Task
                        <span class="pull-right text-muted small">
                            <em>43 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                        <span class="pull-right text-muted small">
                            <em>11:32 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                        <span class="pull-right text-muted small">
                            <em>11:13 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-warning fa-fw"></i> Server Not Responding
                        <span class="pull-right text-muted small">
                            <em>10:57 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                        <span class="pull-right text-muted small">
                            <em>9:49 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Payment Received
                        <span class="pull-right text-muted small">
                            <em>Yesterday</em>
                        </span>
                    </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.panel-body -->
        </div>
       
    </div>
    <!-- /.col-lg-4 -->
</div>
<hr />
<div class="row" id="Event">@Html.Partial("Event/List")</div>
<hr />
<div class="row" id="Participation">@Html.Partial("Participation/List")</div>
<hr />
<div class="row" id="User">@Html.Partial("User/List")</div>
<hr />
<div class="row" id="User">@Html.Partial("Role/List")</div>
<hr />
<div class="row" id="User">@Html.Partial("Reclamation/List")</div>